.table_view{
    position: relative;
    width: 100%;
    margin: 0;
    border-collapse:collapse;
    border-bottom: 1px solid #cecece;
    background: white;
}
.table_view #category{
    padding: 5px 0px;
}
.table_view th{
    min-width: 50px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}
.table_view th.heading{
    font-size: 20px;
    border-bottom: 1px solid #cecece;
    background: #f4f4f5;
    padding: 5px 0px !important;
}
.table_view .heading{
    background: #f4f4f5;
    border-bottom: 1px solid #cecece;
}
.table_view td{
    text-align: center;
    color: #444;
    height: 30px;
    padding: 10px;
    min-width: 90px;
    max-width: 200px;
    word-wrap: break-word;
    font-size: 15px;
}
.table_heading{
    background: #f4f4f5;
    border: 1px solid #cecece;
    border-left: none;
    border-right: none;
    margin: 0;
    padding: 5px 0px !important;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.table_view th.table_title{
    background: #ededed;
    margin: 0;
    padding: 10px 0px !important;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.print_table_date{
    padding: 2px 0px 0px 0px;
    font-size: 11px;
    color: #667;
    font-weight: normal;
}
.expected_heading{
    background: #ededed;
}
